---
import Layout from "../layouts/Layout.astro";

let buttonStyle =
  " px-2 py-1 border border-orange-700 rounded-md hover:bg-orange-400 hover:text-white transition duration-200 ease-in-out";

let sandcolorText =
  " bg-gradient-to-r from-red-500 to-orange-400 text-transparent bg-clip-text";

let projects =
  " text-pink-950 bg-gradient-to-r from-red-500 to-orange-400 rounded-xl p-4 ease-in-out hover:scale-105 hover:drop-shadow-glow duration-200 max-w-sm";
---

<Layout title="Home">
  <div>
    <div class="flex flex-col h-screen justify-center">
      <div
        class={"text-4xl md:text-5xl drop-shadow-glow font-bold p-1 text-center" +
          sandcolorText}>
        Welcome to my Website!
      </div>
      <div
        class={"flex flex-col md:flex-row gap-10 mt-14 drop-shadow-glow text-orange-300 items-center justify-center" +
          sandcolorText}>
        <a href="/about" class={buttonStyle}>About Me</a>
        <a href="/projects" class={buttonStyle}>Projects</a>
        <a href="./public/Resume_FarhanMahbub.pdf" class={buttonStyle}>Resume</a
        >
      </div>
    </div>

    <div class="flex flex-col h-screen justify-center">
      <div
        class={"text-4xl md:text-5xl drop-shadow-glow font-bold p-1 text-center" +
          sandcolorText}>
        About me
      </div>
      <div class="flex flex-col px-8 mt-10 items-center">
        <div class={"max-w-xl text-lg text-orange-300 drop-shadow-glow"}>
          <p class="mb-4">
            Hello! My name is Farhan Mahbub. I am a Computer Science student
            attending the University of Central Florida.
          </p>
          <p>
            I am interesting in pursuing a career in software engineering. More
            specifically, I want to get into full-stack web development and
            machine learning. I am currently learning React and Tailwind CSS
            which is what I used to create this website.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col h-screen justify-center">
      <div
        class={"text-4xl md:text-5xl drop-shadow-glow font-bold p-1 text-center" +
          sandcolorText}>
        Projects
      </div>
      <div class="flex flex-col items-center">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-10 gap-x-10 gap-y-10 px-8">
          <a href="/projects/findmyprofessor" class={projects}>
            <div class="font-bold mb-3 text-xl">Find My Professor</div>
            <p class="mb-3">
              An app that provides a list of professors with average ratings,
              reviews, and adjective radar charts given a university name and a
              course code.
            </p>
            <div class="font-bold italic flex gap-4 max-w-sm">
              <div>Go</div>
              <div>GraphQL</div>
              <div>SQL</div>
              <div>PostgreSQL</div>
            </div>
          </a>
          <a href="/projects/stocksprediction" class={projects}>
            <div class="font-bold mb-3 text-xl">Stocks Prediction</div>
            <p class="mb-3">
              An LSTM model that predicts the closing price of a stock in one
              minute time intervals.
            </p>
            <div class="font-bold italic flex flex-wrap gap-x-4 max-w-sm">
              <div>Python</div>
              <div>TensorFlow</div>
              <div>Pandas</div>
              <div>NumPy</div>
              <div>yfinance</div>
            </div>
          </a>
          <a href="/projects/groceryapp" class={projects}>
            <div class="font-bold mb-3 text-xl">Grocery App</div>
            <p class="mb-3">
              An app that displays a selection of food items of different types
              and the user has to login to manage and checkout their cart.
            </p>
            <div class="font-bold italic flex flex-wrap gap-x-4 max-w-sm">
              <div>TypeScript</div>
              <div>React</div>
              <div>TailwindCSS</div>
              <div>Express</div>
              <div>Vite</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
